*,
*::after,
*::before {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}
html,
body {
  background-color: #f9f9f9;
  overflow: hidden;
}
#main {
  height: 100vh;
  background: url('../images/model1.jpg') no-repeat;
  background-size: contain;
  background-position-y: -140px;
  background-position-x: 150px;
  position: relative;
}

#main header {
  font-family: mada;
  padding: 60px 0px;
}
#main header .logo h1 {
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 600;
}
#main header nav {
  float: right;
}

#main header nav ul li {
  float: left;
  list-style: none;
}

#main header nav ul li a {
  display: block;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 15px;
  font-weight: 600;
  padding-left: 40px;
  color: #000;
}
#main header nav ul li a i {
  font-weight: 600;
}

#main section.hero {
  position: relative;
  top: 120px;
}
#main section.hero .hero__title {
  font-family: mada;
  text-transform: capitalize;
}
#main section.hero .hero__title h1 {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 80px;
  font-family: lato;
}
#main section.hero .hero__content {
  font-family: mada;
  overflow: hidden;
}
#main section.hero .hero__content h5 {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: #aaaaaa;
}
#main section.hero .hero__content p {
  font-size: 14px;
  font-weight: 500;
}
#main section.hero .hero__button {
  margin-top: 60px;
  display: flex;
  width: 250px;
}
#main section.hero .hero__button a {
  border: 1px solid;
  text-decoration: none;
  font-size: 20px;
  height: 15px;
  width: 15px;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 0px 0px;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

#main section.hero .hero__button a:nth-child(1) {
  color: #1db954;
}
#main section.hero .hero__button a:nth-child(2) {
  color: #053eff;
}
#main section.hero .hero__button a:nth-child(3) {
  color: #c4302b;
}
#main section.hero .hero__button a:nth-child(1):hover {
  background-color: #1db954;
  color: #fff;
  transition: all 300ms ease-out;
}
#main section.hero .hero__button a:nth-child(2):hover {
  background-color: #053eff;
  color: #fff;
}
#main section.hero .hero__button a:nth-child(3):hover {
  background-color: #c4302b;
  color: #fff;
}

#main .hero aside {
  transform-origin: right;
  transform: rotate(90deg);
  position: relative;
  top: 600px;
}
#main .hero aside ul li {
  list-style: none;
  margin-right: 70px;
  display: inline-block;
}
#main .hero aside ul li a {
  text-decoration: none;
  font-family: mada;
  font-size: 14px;
  color: #aaaaaa;
  text-transform: lowercase;
}
#main .hero aside ul li a:hover {
  color: #000;
}

#main footer {
  height: 240px;
}
#main footer .footer__left {
  background-color: #eeeeee;
  height: inherit;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
#main footer .footer__right {
  background-color: #273238;
  height: inherit;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#main footer .footer__left .footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 240px;
}
#main footer .footer__left .footer__content h1 {
  font-size: 35px;
  font-weight: 400;
  font-family: fira sans;
}
#main footer .footer__left .footer__content a {
  font-size: 35px;
  font-weight: 400;
  font-family: fira sans;
  text-decoration: none;
  color: #6b6b6b;
}
#main footer .footer__left .footer__content a:hover {
  color: #273238;
}
#main footer .footer__left .footer__content h4 {
  font-size: 14px;
  font-family: mada;
}
#main .footer__container {
  position: relative;
  z-index: 3;
}
#main .footer__container.footer__pic {
  position: relative;
  height: 290px;
  width: 100%;
  bottom: 44px;
  overflow: hidden;
}
#main footer .footer__container.footer__button {
  display: flex;
  bottom: 44px;
}
#main footer .footer__container.footer__button .swiper-button-next,
#main footer .footer__container.footer__button .swiper-button-prev {
  position: static;
  top: 0;
  width: unset;
  /* height: inherit; */
  margin-top: 0;
  background-image: none;
}
#main footer .footer__container.footer__button .swiper-button-next::after,
#main footer .footer__container.footer__button .swiper-button-prev::after {
  content: none;
}

#main footer .footer__container.footer__button button {
  border: none;
  background-color: #273238;
  color: #ffffff;
  padding: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: all 300ms ease-in-out;
}
#main footer .footer__container.footer__button button i {
  font-weight: 600;
}
#main footer .footer__container.footer__button button:hover {
  background-color: #192125;
}
#main footer .footer__container.footer__text {
  padding-left: 20px;
  font-family: mada;
  color: #fff;
}
#main footer .footer__container.footer__text h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}
#main footer .footer__container.footer__text p {
  font-size: 20px;
  line-height: 25px;
}
