*,
*::after,
*::before {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}
html,
body {
  background-color: #f9f9f9;
  overflow: hidden;
}
#main {
  height: 1000px;
  background: url('../images/model1.jpg') no-repeat no-repeat;
  background-size: contain;
  background-position-y: -140px;
  background-position-x: 150px;
}

#main header {
  font-family: mada;
  padding: 60px 0px;
}
#main header .logo h1 {
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 600;
}
#main header nav {
  float: right;
}

#main header nav ul li {
  float: left;
  list-style: none;
}

#main header nav ul li a {
  display: block;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 15px;
  font-weight: 600;
  padding-left: 40px;
  color: #000;
}
#main header nav ul li a i {
  font-weight: 600;
}

#main section.hero {
  position: relative;
  top: 120px;
}
#main section.hero .hero__title {
  font-family: mada;
  text-transform: capitalize;
}
#main section.hero .hero__title h1 {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 80px;
  font-family: lato;
}
#main section.hero .hero__content {
  font-family: mada;
  overflow: hidden;
}
#main section.hero .hero__content h5 {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: #aaaaaa;
}
#main section.hero .hero__content p {
  font-size: 14px;
  font-weight: 500;
}
#main section.hero .hero__button {
  margin-top: 40px;
  display: flex;
  width: 250px;
}
#main section.hero .hero__button a {
  border: 1px solid;
  text-decoration: none;
  font-size: 20px;
  height: 15px;
  width: 15px;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 0px 0px;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

#main section.hero .hero__button a:nth-child(1) {
  color: #1db954;
}
#main section.hero .hero__button a:nth-child(2) {
  color: #053eff;
}
#main section.hero .hero__button a:nth-child(3) {
  color: #c4302b;
}
#main section.hero .hero__button a:nth-child(1):hover {
  background-color: #1db954;
  color: #fff;
  transition: all 300ms ease-out;
}
#main section.hero .hero__button a:nth-child(2):hover {
  background-color: #053eff;
  color: #fff;
}
#main section.hero .hero__button a:nth-child(3):hover {
  background-color: #c4302b;
  color: #fff;
}
